.section-photos {
  background-image: url("../../assets/background-photos.svg");
  background-size: cover;
  background-color: #00838f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  gap: 0.5rem;
}
.section-photos h2 {
  color: #fff;
  font-family: "Lexend Mega", sans-serif;
  font-size: 2.5rem;
}
.section-photos h3 {
  color: #fff;
  font-family: "Lexend Peta", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  width: 42rem;
}
.photo-gallery {
  display: flex;

  gap: 1rem;
  padding: 2rem 1rem;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.view-more-button {
  display: flex;
  padding: 10px 20px;
  font-family: "Lexend Peta", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.view-more-button:hover {
  transform: translateX(4px);
}
.icon-gallery {
  font-size: 1.5rem;
  transition: 0.5s ease;
}
.view-more-button:hover .icon-gallery {
  transform: translateX(4px);
}
.photo-item img {
  width: 22rem;
  height: 15rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.5s ease;
  cursor: zoom-in;
}
.photo-item img:hover {
  transform: scale(1.07);
}
@media (max-width: 768px) {
  .section-photos {
    padding: 6rem 2rem;
    gap: 0;
  }
  .section-photos h2 {
    font-size: 1.5rem;
  }
  .section-photos h3 {
    font-size: 0.9rem;
    width: 25rem;
  }
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .photo-item img {
    width: 10rem;
    height: 10rem;
  }
  .view-more-button {
    font-size: 0.9rem;
  }
}
