.section-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 5rem 0;
}
.article-start h1 {
  font-family: "lexend mega", sans-serif;
  font-size: 2rem;
  color: #fff;
}
.article-start h2 {
  font-family: "lexend mega", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  width: 30rem;
}
.article-start p {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 1rem;

  font-weight: 400;
  width: 40rem;
}
.article-start a {
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
}
